<!DOCTYPE html>
<html>
<script src="https://cdn.tailwindcss.com"></script>

  <head>
    <%- include('partials/head'); %>
  </head>
  <body>
   
    <header>
      <%- include('partials/header'); %>
    </header>
    <main>
      <h1>It Works</h1>
    </main>

    <footer>
      
        <%- include('partials/footer'); %>
      </footer>
      
  </body>
</html>